In [19]:
'''
Fedtools Package to get data from Federal Reserve website
https://github.com/David-Woroniuk/FedTools
'''

In [ ]:
from FedTools import MonetaryPolicyCommittee
from FedTools import BeigeBooks
from FedTools import FederalReserveMins
import pandas as pd

In [4]:
dataset = FederalReserveMins().find_minutes()

Constructing links between 1995 and 2023
Extracting Federal Reserve Minutes.
Retrieving articles.
....................................................................................................................................................................................................................

In [9]:
#get head of dataset
dataset.head()

                                         Federal_Reserve_Mins
1995-02-01  A meeting of the Federal Open Market Committee...
1995-03-28  A meeting of the Federal Open Market Committee...
1995-05-23  A meeting of the Federal Open Market Committee...
1995-07-06  A meeting of the Federal Open Market Committee...
1995-08-22  A meeting of the Federal Open Market Committee...

In [16]:
#name first column as date
dataset.rename(columns={0: 'date'}, inplace=True)

In [17]:
dataset

                                         Federal_Reserve_Mins
1995-02-01  A meeting of the Federal Open Market Committee...
1995-03-28  A meeting of the Federal Open Market Committee...
1995-05-23  A meeting of the Federal Open Market Committee...
1995-07-06  A meeting of the Federal Open Market Committee...
1995-08-22  A meeting of the Federal Open Market Committee...
...                                                       ...
2023-03-22  The Federal Reserve, the central bank of the U...
2023-05-03  The Federal Reserve, the central bank of the U...
2023-06-14  The Federal Reserve, the central bank of the U...
2023-07-26  The Federal Reserve, the central bank of the U...
2023-09-20  The Federal Reserve, the central bank of the U...

[205 rows x 1 columns]

In [7]:
#save dataset to csv
dataset.to_csv('dataset.csv')